{% extends 'base.html' %} 

{% block body %}
<div class="mx-auto">
  <h1 class="text-center font-bold mt-4">{{ photo.title }}</h1>
  <p class="block text-center fw-light mb-2">Uploaded on: {{photo.created}} <br> By 
    <img
    class="rounded-circle account-img mx-auto inline-block"
    style="width: 30px; height: 30px;"
    src="{{photo.submitter.profile.image.url}}"
  />
  <a href="{% url 'user:profile' %}">{{photo.submitter.username}}</a></p>
  <!-- photo.submitter.user.prfole -->

  {% if user == photo.submitter %}
    <p class="text-center mb-4">
      <span><a href="{% url 'photo:update' photo.id %}" class="text-primary px-2">Update</a></span>
      <span><a href="{% url 'photo:delete' photo.id %}" class="text-danger px-2">Delete</a></span>
    </p>
  {% endif %}
</div>
<div class="flex pb-4">
  <div class="w-3/5 mx-auto">
    <img src="{{photo.thumbnail.url}}" alt="" class="border-5 border-red-800 mx-auto" />
  </div>
  <div class="w-2/5 mx-auto">
    <h4 class="mb-1">This photo is tagged:</h4>
    <ul class="list-group list-group-horizontal-lg list-unstyled">
      {% for tag in photo.tags.all %}
        <li><a href="{% url 'photo:tag' tag.slug %}" class="btn btn-sm list-group-item list-group-item-primary mb-4">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
    <p class="mb-6">Description: <br>{{ photo.description }}</p>
    {% load static %}
    <html>

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

    </html>

        {% load ratings %}
    <html>

    <p class="">Rating: {% ratings object %}</p>

    </html>
    <br>
    <br>
    <a href="{{photo.image.url}}" class="btn btn-primary"
            >Read</a>
  </div>
</div>

{% endblock body %}