{% extends 'photoapp/list.html' %}

{% block body %}
  <div class="bg-blue-200 text-center p-4">
    <h2 class="text-2xl font-bold mb-4">Photos with the tag {{ tag }}</h2>

    {% if user.is_authenticated %}
      <button id="follow" class="px-4 py-2 rounded-md bg-red-800 text-white font-bold mt-4 hover:bg-gray-700 transition duration-200">Follow Tag {{ tag }}</button>
      <!-- <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" id="follow" class="btn btn-primary">Follow Tag</button>
      </form> -->
    {% else %}
      <h6>Sign in to follow tag</h6>
    {% endif %}

    <script>
      // Get the button element by its ID
      var button = document.getElementById("follow");
    
      // Set a flag to keep track of whether the button has been pressed
      var isPressed = false;
    
      // Add an event listener to the button
      button.addEventListener("click", function() {
        if (isPressed) {
          // Change the text and background color back to the original state
          button.innerHTML = "Follow Tag {{ tag }}";
          button.style.backgroundColor = "";
          // Add tag to list

        } else {
          // Change the text and background color to the "pressed" state
          button.innerHTML = "Followed";
          button.style.backgroundColor = "green";
        }
        // Toggle the flag
        isPressed = !isPressed;
      });
    </script>
  </div>
  <div class="p-4">
    {{ block.super }}
  </div>
{% endblock %}
