{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block body %}

<div class="mx-auto text-center">
  <div class="form-group">
    <form action="" method="post" class="p-4">
      {% csrf_token %} 
      {{ form|crispy }}
      <button type="submit" class="bg-red-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded w-full my-3">Sign in</button>
    </form>
  </div>
  {% comment %}  Already Registered {% endcomment %}
  <div class="text-center w-100">
    <p class="text-muted font-bold">
      Don't have an account?
      <a href="{% url 'user:signup' %}" class="text-red-500 font-bold ml-2">Create account</a>
    </p>
  </div>
</div>
{% endblock body %}
