{% extends "base.html" %} 
{% load crispy_forms_tags %} 

{% block body %}
<div class="content-section container mt-4 mb-4">
    <a href="{% url 'photo:list' %}"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Home</button></a>
  <div class="object-center justify-center text-center mt-4 mb-4">
    <img
      class="rounded-circle mx-auto mb-2 h-40 w-40 object-cover"
      src="{{ user.profile.image.url }}"
    />
    <div class="">
      <h2 class="account-heading font-bold text-4xl">{{ user.username }}</h2>
      <p>{{ user.profile.bio }}</p>
    </div>
  </div>

  <!-- IF YOU ARE THE USER [ADD IF] -->
  {% if user.username == user.username %}
  <!-- FORM HERE -->
  <div class="py-3 bg-slate-200 border-4 border-red-800">
  <form method="POST" enctype="multipart/form-data" class="p-4" action="{% url 'user:profile' %}">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Info</legend>
      {{ u_form|crispy }}
      <!-- User form -->
      <br>
      {{ p_form|crispy }}
      <!-- Profile form -->
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info mt-4" type="submit">Update</button>
    </div>
  </form>
  </div>
  {% endif %}
</div>
{% endblock body %}